/*Global*/
button {
  width: 100px;
  height: 40px;
  font-weight: bolder;
  font-size: 1em;
  border-radius: 3px;
  margin: 1%;
}
#leftColumn {
  float: left;
  width: 49%;
  height: 700px;
  border: 1px solid #9A9A9A;

}
/*Box 1*/
#box1 {
  background: lightblue;
  width: 400px;
  height: 200px;
  border: none;
  padding: 1%;
  position: relative;
  z-index: -2;
}
#box1 h3 {
  position: relative;
  top: 50px;
  left: 80px;
  font-size: 1em;
  font-weight: normal;
}

#btn {
  opacity: 1;
}
#btn2 {
  opacity: 0;
}

#firstText {
  position: absolute;
  top: 50px;
  left: 50px;
}
#leprechaun {
  width: 25%;
  opacity: 1.0;
}
#rainbow {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0px;
  z-index: -1;
  opacity: 0;
}
#gold {
  position: absolute;
  width: 30%;
  top: 0;
  left: 0px;
  z-index: 1;
  opacity: 0.0;
}


/*Box 2*/
/*---------------------------------*/
#box2 {
  border: 1px solid black;
  width: 400px;
  height: 200px;
  position: relative;
  z-index: -2;

}
#bars {
  width: 100%;
  height: 100%;
  opacity: 0;
}
#tiger {
  width: 70%;
  opacity: 0;
  position: absolute;
  top: 50px;
  left: 50px;
  z-index: -1;
}
#btn3 {

}
#btn4 {
  opacity: 0;
}
#rightColumn {
  float: right;
  width: 49%;
  height: 700px;
  border: 1px solid #9A9A9A;
}
/*Box 3*/
/*---------------------------------*/
#box3 {
  height: 0;
  overflow: hidden;
}
#girrafe {
  height: 100%;
  max-width: 100%;

}
#btn5 {

}
#btn6 {
  opacity: 0;
}
/*Box 4*/
/*---------------------------------*/
#btn7 {
  clear: both;
}
#btn8 {
  clear: both;
  opacity: 0;
}
#box4 {
  height: 300px;
  width: 0;
  overflow: hidden;
}
#snake {
  width: 100%;
}
