#box1 {
  background: lightblue;
  width: 400px;
  height: 200px;
  border: none;

}
#box1 h3 {
  position: relative;
  top: 50px;
  left: 50px;
  font-size: 1em;
  font-weight: normal;
}
button {
  width: 100px;
  height: 40px;
  font-weight: bolder;
  font-size: 1em;
  border-radius: 3px;
  margin: 1%;
}
#btn {
  opacity: 1;
}
#btn2 {
  opacity: 0;
}
